* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2 {
	color: #fff;
}

body {
	/*background: #ccc;*/
	text-align: center;
	background-image: url(../images/background/fondo_arteataco.jpg);
}

.contenedor {
	width: 500px;
	height: 270px;
	background: #101B6F;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 10%;
	
	margin-top: -140px;
	border-radius: 10px;
	box-shadow: 3px 3px 15px;
}

.contenedor_reg {
	width: 500px;
	height: 430px;
	position: absolute;
	top: 25%;
	left: 10%;
	background: #101B6F;
	display: inline-block;
	/*margin: 220px auto;*/
	border-radius: 10px;
	box-shadow: 3px 3px 15px;
}

.formulario {
	text-align: center;
	margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="email"] {
	display: inline-block;
	width: 400px;
	height: 40px;
	margin: 20px auto;
	padding: 10px;
	border: none;
	border-radius: 7px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="email"]:focus {
	border: 3px solid #6EE2E6;
}

input[type="submit"] {
	width: 200px;
	background: #FFFFFF;
	border: none;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing: 5px;
	margin-bottom: 40px;
	border-radius: 10px;
}

input[type="submit"]:hover {
	background: #9BD7ED;
}

.error {
	width: 400px;
	background: #F2ADAD;
	display: inline-block;
	color: #F23131;
	border-radius: 5px;
	text-align: left;
	padding: 5px 20px;
}

.msg_form {
	background: #FFFFFF;
	line-height: 30px;
	width: 300px;
	margin: 20px auto;
	border: 2px solid #000;
	border-radius: 10px;
	box-shadow: 3px 3px 15px;
}

#nequi_login {
	position: absolute;
	top: 20%;
	left: 50%;
}

.info_login {
	display: inline-block;
	width: 400px;
	padding: 10px;
	border-radius: 10px;
	background: #8FEAF8;
	float: right;
	position: absolute;
	top: 35%; 
	left: 60%;
}

.bar {
	height: 50px;
	background: #000CFF;
	color: #fff;
	text-align: right;
	padding-right: 20px;
}

.bar h1 {
	border: 2px solid #fff;
	border-radius: 5px;
	display: inline-block;
	width: auto;
	font-size: 20px;
	margin: 5px auto;
	padding: 5px;
}

.contenedor_cat {
	width: 70%;
	background: #FFFFFF;
	display: inline-block;
	margin: 100px auto;
	padding: 10px;
}

.categoria {
	width: 220px;
	height: 250px;
	background: #DAD8D8;
	margin: 25px;
}

.categoria img {
	display: inline-block;
	width: 200px;
}

.categoria h2 {
	color: #000;
	margin-top: 5px;
	border: 2px solid #000;
	border-radius: 10px;
}