* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000;
}

h1, h2 {
	color: #fff;
}

body {
	/*background: #ccc;*/
	font-family: 'Roboto', sans-serif;
	text-align: center;
	/*background-image: url(../images/background/fondo_arteataco.jpg);*/
}

.contenedor {
	width: 450px;
	/*height: 270px;*/
	background: #101B6F;
	display: inline-block;
	position: absolute;
	top: 45%;
	left: 10%;
	margin-top: -140px;
	border-radius: 10px;
	box-shadow: 3px 3px 15px;
}

.contenedor_reg {
	width: 500px;
	/*height: 430px;*/
	position: absolute;
	top: 25%;
	left: 10%;
	background: #101B6F;
	display: inline-block;
	/*margin: 220px auto;*/
	border-radius: 10px;
	box-shadow: 3px 3px 15px;
}

.formulario {
	text-align: center;
	margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="email"] {
	display: inline-block;
	width: 400px;
	height: 40px;
	margin: 20px auto;
	padding: 10px;
	border: none;
	border-radius: 7px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="email"]:focus {
	border: 3px solid #6EE2E6;
}

input[type="submit"] {
	width: 200px;
	background: #FFFFFF;
	border: none;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing: 5px;
	margin-top: 30px;
	margin-bottom: 40px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px #000;
}

input[type="submit"]:hover {
	background: #9BD7ED;
}

a.login {
	border: 2px solid #000;
	border-radius: 7px;
	padding: 2px;
	background: #ABF6C4;
}

a.login:hover {
	background: #9BD7ED;
}

a.reg {
	border: 2px solid #000;
	border-radius: 7px;
	padding: 2px;
	background: #ABF6C4;
}

a.reg:hover {
	background: #9BD7ED;
}

.error {
	width: 400px;
	background: #F2ADAD;
	display: inline-block;
	color: #F23131;
	border-radius: 5px;
	text-align: left;
	padding: 5px 20px;
}

.msg_form {
	background: #FFFFFF;
	line-height: 40px;
	width: 300px;
	margin: 20px auto;
	border: 2px solid #000;
	border-radius: 10px;
	box-shadow: 3px 3px 15px;
}

#nequi_login {
	position: absolute;
	width: 150px;
	top: 20%;
	left: 50%;
}

.info_login {
	display: inline-block;
	width: 400px;
	padding: 10px;
	border-radius: 10px;
	/*background: #8FEAF8;*/
	float: right;
	position: absolute;
	top: 35%; 
	left: 58%;
}

.info_login p {
	background: #AEEDF4;
	margin-bottom: 50px;
	border-radius: 10px;
	box-shadow: 3px 3px 15px;
	padding: 10px;
}

.bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	position: fixed;
	z-index: 10;

	min-height: 50px;
	width: 100%;
	padding: 0 20px;

	background: #000;
	color: #fff;
	box-shadow: 0 5px 10px #000;
}

.bar i.fa-home {
	height: 40px;
	width: 40px;
	font-size: 2em;
	text-align: center;
	/*float: left;*/
	padding-top: 2px;
	border: 2px solid #fff;
	border-radius: 5px;
	transition: all ease 0.5s;
}

.bar_hidden {
	display: inline-block;
	height: 40px;
	margin-bottom: 100px;
}

.bar i.fa-home:hover {
	background: #16396E;
}

.home h1,
.user .dropmenu h1 {
	border: 2px solid #fff;
	border-radius: 5px;
	/*display: inline-block;*/
	width: auto;
	font-size: 20px;
	padding: 5px;
	cursor: pointer;
	text-transform: capitalize;
	transition: all ease 0.5s;
}

.bar-options {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	min-height: 50px;
	margin: auto 10px;
}

.bar-btn,
.bar-btn .categorias {
	flex-grow: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 50px;
	width: 100px;

	color: #fff;
	font-size: 1em;
	cursor: pointer;
	transition: all linear 0.2s;
	background: #16396E;
}

.bar-btn .categorias {
	width: 100%;
	font-weight: normal;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 750px) {
	header {
		height: 250px;
	}
	.home {
		/*margin-left: 10px;*/
		order: 0;
	}
	.user {
		margin-left: 30px;
		order: 1;
	}
	.bar-options {
		margin: 10px auto 20px auto;
		order: 2;
	} 
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.bar-options .bar-btn:hover,
.bar-options .bar-btn .categorias:hover {
	background-color: #CFDDEC;
	color: #000;
}

.dropmenu {
	position: relative;
	display: inline-block;
}

.drop-content {
    display: none;
    position: absolute;
    right: 0;
    /*background-color: #f9f9f9;*/
    background: rgba(255, 255, 255, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /*top: 50px;*/
    border-radius: 5px;
}

.drop-content a {
    background-color: #f9f9f9;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #000;
    transition: all ease 0.3s;
}

.drop-content a[href="logout.php"] {
	background: #CD4545;
	color: #fff;
}

.drop-content a:hover {
	background-color: #B0DFE3;
	color: #000;
	border-bottom: 4px solid #000;
}

.dropmenu:hover .drop-content {
    display: block;
}

.dropmenu.categorias .drop-content a {
	background-color: #E5E2E2;
	color: black;
	padding: 12px 10px;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #000;
	border-radius: 0px;
	transition: all ease 0.2s;
}

.dropmenu.categorias .drop-content a:hover {
	background: #093197;
	color: #fff;
	border-bottom: 4px solid #ccc;
}


.user .dropmenu h1:hover {
	background: #FFFFFF;
	color: #000;
	border: 2px solid #000;
	border-bottom: 0;
}

h1.user i.fa {
	font-size: 1em;
}

/*.contenedor_prod,*/
/*.contenedor_detalles*/ {
	width: auto;
	background: #FFFFFF;
	display: inline-block;
	margin: 100px 100px;
	padding: 10px;
	box-shadow: 0 0 50px #000;
}

.contenedor_cat,
.contenedor_prod,
.contenedor_detalles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: auto 10%;
	margin-bottom: 50px;
	/*width: 70%;*/
	padding: 1% 40px;
	background: #EAE5E5;
	box-shadow: 0 0 50px #000;
}

.titulo_cat {
	width: 100%;
	text-align: left;
	padding-bottom: 30px;
}

.titulo_cat h2 {
	color: #000;
}

.contenedor_prod,
.contenedor_detalles {
	min-height: 356px;
	margin: auto 10%;
	margin-bottom: 50px;
}

.contenedor_tarjeta {
	/*margin: 1%;*/
	/*margin: auto;*/
	margin: auto 5px;
	margin-bottom: 40px;
	max-width: 300px;
	height: 300px;

	/*flex-grow: 1;*/
}

/*.contenedor_tarjeta:nth-child(7) {
	margin: 50px auto;

	flex-grow: 0.08;
}*/

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);

	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.contenedor_tarjeta:hover figure img {
	/*-webkit-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px);*/
}

figure {
	/*width: 300px;*/
	height: 300px;
	margin: 0;
	position: relative;
	transition: all ease .3s;
	transform-style: preserve-3d; 
	transform: perspective(2000px) rotateY(0deg);
	font-size: 0.9em;
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	/*border-radius: 10px;*/
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	/*position: relative;*/
	/*backface-visibility: hidden;*/
}

figure .nombre-front {
	position: absolute;
	top: 110px;
	left: 50px;	

	color: #fff;
	/*border: 3px solid #fff;*/
	/*border-radius: 10px;*/
	height: 30px;
	line-height: 30px;
	width: 200px;
	display: inline-block;
	margin-top: 20px;
	font-size: 1.3em;

	box-shadow: 0 0 40px #ccc;
	background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(2000px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;

	background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

figure .trasera .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: sans-serif;
	font-size: 21px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: sans-serif;
	line-height: 22px;
	font-size: 1em;
	/*margin-bottom: 20px;*/
}

figure .trasera a {
	z-index: 1;
	color: #000;
	border: 2px solid #fff;
	border-radius: 10px;
	width: 200px;
	background: #FFFFFF;
	padding: 10px;
	display: inline-block;
	margin-top: 20px;
	transition: all ease 0.3s;
}

figure .trasera a:hover {
	background: #82C4D0;
}

figure img {
	background: #8BB0C5;
}


.producto {
	background: #CBF1FB;
	display: inline-block;
	margin: 30px;
	box-shadow: 0 0 15px #000;
	width: 300px;
}

.producto h2 {
	color: #000;
}

.producto img {
	width: 100%;
}

.prod_options {
	width: 100%;
}

.prod_options a {
	width: 50%;
	float: left;
	line-height: 30px;
}

.prod_options a.detalles {
	background: #AFE4A1;
	transition: all ease 0.5s;
}

.prod_options a.detalles:hover {
	background: #3B7B2A;
	color: #fff;
	box-shadow: 0 0 15px #000;
}

.prod_options a.carrito {
	background: #F8F79B;
	transition: all ease 0.5s;
}

.prod_options a.carrito:hover {
	background: #D9BB13;
	color: #fff;
	box-shadow: 0 0 15px #000;
}

.detalles-prod {
	/*background: #95EDD7;*/
	/*height: 500px;*/
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	margin-bottom: 50px;
}

.detalles-prod-img {
	max-width: 550px;
	overflow: visible;
	margin-right: 30px;
	/*background: #ccc;*/

	display: flex;
	flex-wrap: wrap;
	flex-shrink: 1;
}

.detalles-prod-img .mini-img {
	width: 100px;
	height: 400px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.mini-img img {
	max-width: 80px;
	max-height: 80px;
	transition: all ease 0.5s;
}

.mini-img img:hover {
	max-width: 100px;
	max-height: 100px;
	border: 5px solid rgba(18, 24, 255, 0.6);	
}

.detalles-prod-img img {
	width: 400px;
	height: 400px;
}

.detalles-prod-img .img_default {
	
}

.detalles-prod-img .img-info {
	/*background: #ccc;*/
	width: 100%;
	margin-top: 10px;
	margin-bottom: 50px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.detalles-prod-info {
	text-align: left;
	font-size: 0.7em;
}

.detalles-prod-info hr {
	margin: 40px 0;
	/*width: 100%;*/
}

.detalles-prod-info a {
	display: inline-block;
	padding: 15px;
	color: #000;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 1.5em;
	font-weight: double;
}

.detalles-prod-info a.comprar {
	background: #59CC59;
	transition: all ease 0.5s;
}

.detalles-prod-info a.comprar:hover {
	background: #108410;
	color: #fff;
}

.detalles-prod-info a.carrito-prod {
	background: #E5CC56;
	transition: all ease 0.5s;
}

.detalles-prod-info a.carrito-prod:hover {
	background: #9D8618;
	color: #fff;
}

h2.item,
h2.precio,
h2.descripcion,
h2.stock {
	color: #000;
	text-align: left;
	margin-bottom: 30px;
}

h2.precio {
	margin-left: 10px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	height: 250px;
	margin-top: 200px;
	background: #08224A;

}

.bar-footer-link {
	align-self: flex-start;
	width: 100%;
	flex-grow: 1;
}

.bar-footer {
	align-self: flex-start;
	height: 50px;
	background: #193FA1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	letter-spacing: 2px;
	transition: all ease 0.5s;
}

.bar-footer:hover {
	background: #0C0F19;
	color: #fff;
	font-size: 1.8em;
}

footer .social {
	display: flex;
	justify-content: space-around;
	flex-grow: 1;

	color: #fff;
}