* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1, h2 {
	color: #fff;
}

body {
	/*background: #ccc;*/
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background-image: url(../images/background/fondo_arteataco.jpg);
}

.contenedor {
	width: 450px;
	/*height: 270px;*/
	background: #101B6F;
	display: inline-block;
	position: absolute;
	top: 45%;
	left: 10%;
	margin-top: -140px;
	border-radius: 10px;
	box-shadow: 3px 3px 15px;
}

.contenedor_reg {
	width: 500px;
	/*height: 430px;*/
	position: absolute;
	top: 25%;
	left: 10%;
	background: #101B6F;
	display: inline-block;
	/*margin: 220px auto;*/
	border-radius: 10px;
	box-shadow: 3px 3px 15px;
}

.formulario {
	text-align: center;
	margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="email"] {
	display: inline-block;
	width: 400px;
	height: 40px;
	margin: 20px auto;
	padding: 10px;
	border: none;
	border-radius: 7px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="email"]:focus {
	border: 3px solid #6EE2E6;
}

input[type="submit"] {
	width: 200px;
	background: #FFFFFF;
	border: none;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing: 5px;
	margin-top: 30px;
	margin-bottom: 40px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px #000;
}

input[type="submit"]:hover {
	background: #9BD7ED;
}

a.login {
	border: 2px solid #000;
	border-radius: 7px;
	padding: 2px;
	background: #ABF6C4;
}

a.login:hover {
	background: #9BD7ED;
}

a.reg {
	border: 2px solid #000;
	border-radius: 7px;
	padding: 2px;
	background: #ABF6C4;
}

a.reg:hover {
	background: #9BD7ED;
}

.error {
	width: 400px;
	background: #F2ADAD;
	display: inline-block;
	color: #F23131;
	border-radius: 5px;
	text-align: left;
	padding: 5px 20px;
}

.msg_form {
	background: #FFFFFF;
	line-height: 40px;
	width: 300px;
	margin: 20px auto;
	border: 2px solid #000;
	border-radius: 10px;
	box-shadow: 3px 3px 15px;
}

#nequi_login {
	position: absolute;
	width: 150px;
	top: 20%;
	left: 50%;
}

.info_login {
	display: inline-block;
	width: 400px;
	padding: 10px;
	border-radius: 10px;
	/*background: #8FEAF8;*/
	float: right;
	position: absolute;
	top: 35%; 
	left: 58%;
}

.info_login p {
	background: #AEEDF4;
	margin-bottom: 50px;
	border-radius: 10px;
	box-shadow: 3px 3px 15px;
	padding: 10px;
}

.bar {
	height: 50px;
	width: 100%;
	z-index: 10;
	background: #000CFF;
	color: #fff;
	text-align: right;
	padding-right: 20px;
	box-shadow: 0 5px 10px #000;
	position: fixed;
}

.bar img {
	height: 40px;
	float: left;
	margin: 5px 20px;
	border: 2px solid #fff;
	border-radius: 5px;
}

.bar img:hover {
	background: #000;
}

.bar h1 {
	border: 2px solid #fff;
	border-radius: 5px;
	display: inline-block;
	width: auto;
	font-size: 20px;
	margin: 5px auto;
	padding: 5px;
	cursor: pointer;
	text-transform: capitalize;
}

.dropmenu {
	position: relative;
	display: inline-block;
}

.drop-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 45px;
    border-radius: 5px;
}

.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #000;
    border-radius: 5px;
}

.drop-content a:hover {
	background-color: #B0DFE3;
}

.dropmenu:hover .drop-content {
    display: block;
}


.bar h1:hover {
	background: #FFFFFF;
	color: #000;
	border: 2px solid #000;
}

.contenedor_cat,
.contenedor_prod,
.contenedor_detalles {
	width: auto;
	background: #FFFFFF;
	display: inline-block;
	margin: 100px 100px;
	padding: 10px;
	box-shadow: 0 0 50px #000;
}

/*.categoria {
	width: 220px;
	height: 250px;
	background: #DAD8D8;
	margin: 30px;
	border-radius: 10px;
	float: left;
	box-shadow: 0 0 15px #000;
}

.categoria img {
	display: inline-block;
	width: 200px;
	height: 200px;
}

.categoria h2 {
	color: #000;
	margin-top: 5px;
	border: 2px solid #000;
	border-radius: 10px;
	width: 200px;
	margin: 5px auto;
	background: #FFFFFF;
}

.categoria h2:hover {
	background: #82C4D0;
}*/






.contenedor_tarjeta {
	margin: 20px;
	display: inline-block;
	width: 25%;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);

	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.contenedor_tarjeta:hover figure img {
	/*-webkit-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px);*/
}

figure {
	/*width: 300px;*/
	height: 350px;
	margin: 0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d; 
	transform: perspective(2000px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	/*backface-visibility: hidden;*/
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(2000px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;

	background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

figure .trasera .titulo {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: sans-serif;
	font-size: 21px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: sans-serif;
	line-height: 22px;
	font-size: 1em;
	/*margin-bottom: 20px;*/
}

figure .trasera a {
	color: #000;
	border: 2px solid #fff;
	border-radius: 10px;
	width: 200px;
	background: #FFFFFF;
	padding: 10px;
	display: inline-block;
	margin-top: 40px;
}

figure .trasera a:hover {
	background: #82C4D0;
}

figure img {
	background: #8BB0C5;
}


.producto {
	background: #CBF1FB;
	display: inline-block;
	margin: 30px;
	box-shadow: 0 0 15px #000;
	width: 25%;
}

.producto h2 {
	color: #000;
}

.producto img {
	width: 100%;
}

.prod_options {
	width: 100%;
}

.prod_options a {
	width: 50%;
	float: left;
	line-height: 30px;
}

.prod_options a.detalles {
	background: #AFE4A1;
}

.prod_options a.detalles:hover {
	background: #3B7B2A;
	color: #fff;
	box-shadow: 0 0 15px #000;
}

.prod_options a.carrito {
	background: #F8F79B;
}

.prod_options a.carrito:hover {
	background: #D9BB13;
	color: #fff;
	box-shadow: 0 0 15px #000;
}

.detalles-prod {
	/*background: #95EDD7;*/
	height: 500px;
}

.detalles-prod-img {
	width: 500px;
	height: 500px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	float: left;
	margin-right: 30px;
}

.detalles-prod-img img {
	width: inherit;
}

.detalles-prod-info {
	width: 100%;
	text-align: left;
}

.detalles-prod-info hr {
	margin: 50px auto;
	width: 60%;
}

.detalles-prod-info a {
	display: inline-block;
	padding: 15px;
	color: #000;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 50px;
	text-align: center;
}

.detalles-prod-info a.comprar {
	background: #59CC59;
}

.detalles-prod-info a.comprar:hover {
	background: #108410;
	color: #fff;
}

.detalles-prod-info a.carrito-prod {
	background: #E5CC56;
}

.detalles-prod-info a.carrito-prod:hover {
	background: #9D8618;
	color: #fff;
}

h2.item,
h2.precio,
h2.descripcion,
h2.stock {
	color: #000;
	text-align: left;
	margin-bottom: 30px;
}

h2.precio {
	margin-left: 10px;
}