* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    /* background: #000; */
}

.hidden {
    display: none;
    transition: all ease 0.3s;
    height: 0px;
}

hr {
    height: 3px;
    border: none;
    background: #ccc;
}

nav {
    display: flex;
    position: fixed;

    width: 25%;
    min-width: 300px; 
    height: 100vh;
    margin-right: 20px;
    background: #fff;
}

.nav_hidden {
    display: flex;
    width: 25%;
    min-width: 300px;
    /* margin-right: 20px; */
}

nav .side_bar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    /* padding-top: 350px; */

    min-width: 50px;
    max-width: 50px;
    color: #fff;
    background: #040b29;
}

.side_bar .side_user_info {
    display: inline-block;
    height: 150px;
    width: 100%;
    /* background: #000; */
}

.side_bar .side_icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 300px;
    width: 100%;
    padding-bottom: 30px;
    /* background: #fff; */
}

.side_icons .side_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    /* background: #000; */
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    font-size: 1.5em;
}

nav .options {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;
    background: #113054;
}

.options .user_info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 150px;
    /* background: #fff; */
}

.user_info .image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 100px;
    background: #ccc;
    border-radius: 50%;
    color: #fff;
    margin: 10px;
}

.user_info .image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #006eff;
}

.user_info .data {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px;

    height: 40%;
    color: #fff;
    /* background: #000; */
}

.user_info .data span {
    width: 100%;
    text-align: right;
}

.user_info .data span.nombre {
    font-size: 1.2em;
}

.user_info .data hr {
    width: 100%;
}

.options .buttons {
    height: 300px;
}

.options .buttons a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 19px 30px;
    /* background: #365C8A; */
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    transition: border ease 0.3s;
}

.options .buttons a:hover {
    border-left: 20px solid #040b29;
    background: #365C8A;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    width: 75%;
    min-width: 235px;
    /* height: 100vh; */
    background: #fff;
}

main .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding: 0 20px;
    background: #040b29;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

main .bar .homeStoreBtns {
    display: flex;
    justify-content: space-between;
}

main .bar a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    height: 40px;
    width: 40px;
    background: #5f9fdb;
    border-radius: 5px;
    margin-right: 30px;
    transition: all ease 0.3s;
}

main .bar a:hover {
    border-radius: 50%;
    font-size: 1.8em;
}

main .bar a.logout:hover {
    background: #e23636;
}

main section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    width: 100%;
    margin-bottom: 50px;
    /* height: calc(100% - 60px); */
    /* background: #ccc; */
}

main section .title {
    width: 100%;
}

.title h2 {
    width: 100%;
    padding-left: 5%;
    margin: auto;
}

.title hr {
    width: 90%;
    height: 5px;
    margin: 20px auto;
    margin-bottom: 20px;
    background: #113054;
    border-radius: 5px;
}

.contenedor_pedidos,
.contenedor_productos,
.contenedor_puntos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding: 50px;
}

.contenedor_pedidos .pedido,
.contenedor_productos .producto {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 350px;
    background: #a3a2a2;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.contenedor_pedidos.all .pedido,
.contenedor_productos.all .producto {
    margin: 0 50px 100px 50px;
}

.contenedor_pedidos .pedido:hover,
.contenedor_productos .producto:hover {
    border: 2px solid #2F80ED;
}

.pedido div,
.producto div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 10px;
}

.pedido hr,
.producto hr {
    width: 90%;
    margin: auto;
}

.pedido .codigo {
    height: 5%;
    background: #666565;
    padding: 0 5px;
    font-size: 0.7em;
    /* color: #e6f1ff; */
}

.pedido .codigo.pagopendiente {
    background: #f1f361;
}

.pedido .codigo.pagorecibido {
    background: #6dd699;
}

.pedido .codigo.listoparaentrega {
    background: #8bd2e7;
}

.pedido .codigo.entregado {
    background: #0650b3;
    color: #d7e9ff;
}

.pedido .codigo .code {
    margin-right: 5px;
}

.pedido .codigo .status {
    /* color: #fff; */
}

.pedido .pedido_cliente,
.producto .producto_nombre {
    height: 15%;
}

.pedido_cliente span,
.producto_nombre span {
    width: 100%;
}

.pedido .pedido_cliente .img_cliente,
.producto .producto_nombre .img_categoria {
    position: absolute;
    top: -20px;
    right: -40px;
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #2F80ED;
    border-radius: 50%;
}

.producto .producto_nombre .img_categoria {
    border-radius: 10%;
}

.pedido_cliente .nombre,
.producto_nombre .nombre {
    font-size: 1.2em;
}

.pedido_cliente .apellido,
.producto_nombre .categoria {
    font-size: 0.8em;
}

.pedido .pedido_productos,
.producto .producto_imagen {
    height: 45%;
    font-size: 0.8em;
    overflow: auto;
    /* background: #000; */
    min-width: 110%;
    padding-right: 15%;
}

.producto .producto_imagen {
    display: flex;
    justify-content: center;
}

.producto .producto_imagen i {
    margin: auto;
    font-size: 9em;
}

.producto .producto_imagen img {
    height: 100%;
    border-radius: 5px;
}

.pedido_productos .producto {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    border-bottom: 1px dotted #000;
}

.pedido_productos .producto .cantidad {
    width: 20%;
    text-align-last: left;
    font-size: 1em;
    font-weight: bold;
}

.pedido_productos .producto .nombre_producto {
    width: 80%;
    text-align: right;
}

.pedido .pedido_direccion,
.producto .producto_descripcion {
    position: relative; 
    height: 20%;
}

.producto .producto_descripcion {
    overflow: hidden;
    padding: 5px 10px;
    height: 25%;
}

.pedido_direccion span {
    width: 80%;
}

.producto_descripcion span {
    width: 100%;
    font-size: 0.8em;
    text-align: justify;
}

.pedido_direccion .departamento {
    font-size: 1.2em;
}

.pedido_direccion .nombre_direccion {
    font-size: 0.8em;
}

.pedido_direccion .info_direccion {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    background: #fff;
    position: absolute;
    right: 10px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.pedido_direccion .info_direccion i {
    font-size: 2em;
    color: #2F80ED;
}

/* ------------------------ tooltip ---------------------- */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* -------------------------------------------------------------------- */

.pedido .pedido_total,
.producto .producto_precio {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #666565;
    color: #5EDB93;
    font-weight: bold;
    padding: 0;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    background: #ccc;
    border-radius: 5px;
    transition: all ease 0.3s;
}

.button a:hover {
    background: #888787;
}

.contenedor_pedidos .pedido_todos {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0 auto;
    /* height: 200px; */
    width: 90%;
    min-width: 320px;
    /* background: #ccc; */
}

.contenedor_pedidos .pedido_todos .pedido_header {
    display: inline-block;
    text-align-last: left;
    width: 100%;
    height: 30px;
    /* background: #cc1; */
}

.pedido_todos .pedido_header .codigo {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    width: 150px;
    height: 100%;
    background: #040b29;
    color: #fff;
    border-radius: 20px 20px 0 0;
}

.pedido_todos .pedido_body {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
    width: 100%;
    border-radius: 0 5px 5px 5px;
    /* height: 100%; */
    background: #C0E2ED;
}

.pedido_todos .pedido_body .pedido_cliente_direccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    /* margin-bottom: 20px; */
}

.pedido_todos .pedido_body .pedido_cliente_direccion .pedido_cliente {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 35%;
    min-width: 210px;
    margin-right: 5px;
    margin-bottom: 30px;
}

.pedido_cliente_direccion .pedido_cliente .titulo,
.pedido_cliente_direccion .pedido_direccion .titulo {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.pedido_cliente_direccion .pedido_cliente .titulo hr,
.pedido_cliente_direccion .pedido_direccion .titulo hr {
    width: 100%;
    margin: 10px 0;
    background: #919090;
    border-radius: 5px;
}

.pedido_cliente_direccion .pedido_cliente .info,
.ped_prods .prods .ped_prod {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.pedido_cliente_direccion .pedido_cliente .info .imagen,
.pedido_cliente_direccion .pedido_cliente .info .imagen img,
.ped_prods .prods .ped_prod .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    min-width: 80px;
    border-radius: 10px;
    margin-right: 10px;
    background: #C4C4C4;
}

.pedido_cliente_direccion .pedido_cliente .info .imagen img {
    margin-right: 0;
}

.pedido_cliente_direccion .pedido_cliente .info .datos,
.ped_prods .prods .ped_prod .datos {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    justify-content: flex-start;
    align-content: flex-start;
}

.pedido_cliente_direccion .pedido_cliente .info .datos hr,
.pedido_cliente_direccion .pedido_direccion .info hr {
    width: 100%;
    height: 3px;
    margin: 4px 0;
    border-radius: 1px;
}

.pedido_cliente_direccion .pedido_cliente .info .datos .apellidos,
.pedido_cliente_direccion .pedido_cliente .info .datos .tel,
.pedido_cliente_direccion .pedido_cliente .info .datos .email {
    font-size: 0.8em;
}

.pedido_todos .pedido_body .pedido_cliente_direccion .pedido_direccion {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    min-width: 210px;
    margin-bottom: 10px;
}

.pedido_cliente_direccion .pedido_direccion .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    /* height: 80px; */
}

.pedido_cliente_direccion .pedido_direccion .info span {
    width: 100%;
}

.pedido_cliente_direccion .pedido_direccion .info span:nth-child(2),
.pedido_cliente_direccion .pedido_direccion .info .det {
    font-size: 0.8em;
}

.pedido_todos .pedido_body .ped_prods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    margin-top: 20px;
}

.ped_prods .title {
    font-weight: bold;
}

.ped_prods .title hr {
    width: 100%;
    background: #919090;
    margin: 10px auto;
    border-radius: 5px;
}

.ped_prods .prods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    min-height: 50px;
}

.ped_prods .prods .ped_prod {
    display: flex;
    justify-content: flex-start;

    height: 100px;
    width: 30%;
    min-width: 265px;
    padding: 10px;
    background: #8BD0F7;
    margin-bottom: 20px;
    border-radius: 5px;
}

.ped_prods .prods .ped_prod .datos {
    align-content: flex-start;
    height: 100%;
}

.ped_prods .prods .ped_prod .datos span {
    width: 100%;
    margin: 0;
}

.ped_prods .prods .ped_prod .datos .cat {
    font-size: 0.8em;
    margin-bottom: 5px;
}

.ped_prods .prods .ped_prod .datos .cant {
    font-size: 0.8em;
}

.pedido_todos .pedido_body .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
    /* background: #040f33; */
    color: #fff;
}

.pedido_todos .pedido_body .total .subtotal,
.pedido_todos .pedido_body .total .envio,
.pedido_todos .pedido_body .total .total_sum {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    background: #5f9fdb;
    border-radius: 5px;
    margin-bottom: 10px;
}

.pedido_todos .pedido_body .total .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 50px;
    background: #113054;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
}

.pedido_todos .pedido_body .total .mount {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.pedido_todos .pedido_body .total .mount span {
    width: 100%;
}

.pedido_todos .pedido_body .total .mount span:first-child {
    font-size: 0.8em;
}

.pedido_todos .pedido_body .total .mount span:last-child {
    text-align: center;
    padding-right: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

.pedido_todos .pedido_body .estado {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* height: 50px; */
    /* margin-bottom: 20px; */
    padding: 10px;
    /* background: #8BD0F7; */
}

.pedido_todos .pedido_body .estado .actual {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 300px; */
    height: 50px;
    margin-right: 20px;
    /* margin-bottom: 20px; */
    /* background: #ccc; */
}

.pedido_todos .pedido_body .estado .indicador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background: #a3a2a2;
}

.pedido_todos .pedido_body .estado .indicador.pagopendiente {
    background: #fbff00;
}

.pedido_todos .pedido_body .estado .indicador.pagorecibido {
    background: #53d187;
}

.pedido_todos .pedido_body .estado .indicador.listoparaentrega {
    background: #34c0eb;
}

.pedido_todos .pedido_body .estado .indicador.entregado {
    background: #006eff;
}

.pedido_todos .pedido_body .estado .actual span {
    font-style: italic;
}



.pedido_todos .pedido_body .estado .actual span.pagopendiente {
    border-bottom: 4px solid #fbff00;
}

.pedido_todos .pedido_body .estado .actual span.pagorecibido {
    border-bottom: 4px solid #53d187;
}

.pedido_todos .pedido_body .estado .actual span.listoparaentrega {
    border-bottom: 4px solid #34c0eb;
}

.pedido_todos .pedido_body .estado .actual span.entregado {
    border-bottom: 4px solid #006eff;
}

.pedido_todos .pedido_body .estado .update {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    color: #fff;
    background: #365C8A;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.3s;
    margin-right: -100px;
    z-index: 2;
}

.pedido_todos .pedido_body .estado .update:hover {
    background: #203550;
}

.pedido_todos .pedido_body .estado .select_status {
    display: flex;
}

.pedido_todos .pedido_body .estado .select_status .sel_stat_hidden {
    display: flex;
    height: 30px;
    max-width: 100px;
    border: none;
    background: #92c3df;
    z-index: 1;
}

.pedido_todos .pedido_body .estado .select_status .sel_stat {
    display: flex;
    height: 30px;
    min-width: 120px;
    border: none;
    background: #92c3df;
    margin-right: -120px;
    z-index: 1;
    transition: all ease 0.3s;
}

.pedido_todos .pedido_body .estado .select_status .submit_status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    background: #89c791;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    /* margin-left: 20px; */
    font-size: 1em;
    visibility: hidden;
    transition: all ease 0.3s;
}

.pedido_todos .pedido_body .estado .select_status .submit_status:hover {
    background: #138141;
    color: #fff;
}

.pedido_todos .pedido_body .estado .cancelUpdateOrderStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    background: #d48686;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.3s;
    margin-right: 20px;
    z-index: 2;
}

.pedido_todos .pedido_body .estado .cancelUpdateOrderStatus:hover {
    background: #7a0707;
    color: #fff;
}

.producto_list {
    display: flex;
    min-width: 460px;
    /* min-height: 100px; */
    width: 80%;
    background: #5f90c9;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 0px #000;
}

.producto_list:first-child {
    margin-top: 20px;
}

.producto_list .imgs {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;

    /* height: 400px; */
    min-width: 200px;
    width: 40%;
    background: #365272;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    transition: all ease 0.3s;
}

.producto_list .imgs span.dateReg {
    width: 100%;
    /* padding: 5px; */
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #1686ee;
    cursor: default;
}

.producto_list .imgs .main {
    display: flex;
    flex-wrap: wrap;

    position: relative;

    width: 180px;
    height: 180px;
    background: #ccc;
    margin-bottom: 30px;
    border-radius: 5px;
}

.producto_list .imgs .main .noImgsText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.producto_list .imgs .main .noImgsText .icons {
    display: flex;
    justify-content: space-around;
}

.producto_list .imgs .main .icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    z-index: 10;
}

.producto_list .imgs .main .bg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #ccc;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    transition: all ease 0.5s;
}

.producto_list .imgs .main .bg:hover {
    opacity: 0.5;
}

.producto_list .imgs .main .icons .main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background: #2F80ED;
    color: #fbff00;
    transition: all ease 0.3s;
}

.producto_list .imgs .main .icons .del {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background: #2F80ED;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.3s;
}

.producto_list .imgs .main .icons .del:hover {
    color: #ff0000;
    background: #6ea1e4;
    border-radius: 50%;
}

.producto_list .imgs .main .icons .main-img:hover {
    border-radius: 50%;
    background: #6ea1e4;
}

.producto_list .imgs .main span {
    margin: auto;
    text-align: center; 
    width: 100%;
    font-style: italic;
    font-size: 0.8em;
}

.producto_list .imgs .main img {
    width: 180px;
    height: 180px;
    /* background: #4a94d8; */
    position: absolute;
    border-radius: 5px;
    z-index: 100;
}

.producto_list .imgs .others {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.producto_list .imgs .others .other-img {
    width: 50px;
    margin-right: 20px;
}

.producto_list .imgs .others .other-img .img {
    position: relative;
}

.producto_list .imgs .others .other-img .img .bg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    position: absolute;
    width: 100%;
    height: 50px;
    background: #ccc;
    opacity: 0;
    top: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    transition: all ease 0.5s;
}

.producto_list .imgs .others .other-img .img .bg:hover {
    opacity: 0.5;
}

.producto_list .imgs .others .other-img .icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #2F80ED;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.8em;
}

.producto_list .imgs .others .other-img .icons .currentMain {
    color: #ecf00e;
    margin-top: 0px;    
}

.producto_list .imgs .others .other-img .icons input[type="submit"] {
    display: none;
}

.producto_list .imgs .others .other-img .icons .set-main,
.producto_list .imgs .others .other-img .icons .delete {
    cursor: pointer;
    transition: all ease 0.3s;
}

.producto_list .imgs .others .other-img .icons .set-main:hover {
    color: #ecf00e;
}

.producto_list .imgs .others .other-img .icons .delete:hover {
    color: #e63131;
}

.producto_list .imgs .others img {
    display: inline-block;
    height: 50px;
    width: 50px;
    min-width: 50px;
    background: #ccc;
    border-radius: 5px;
    margin: 0 10px;
}

.producto_list .imgs .others img:nth-child(odd) {
    margin: 0;
    /* margin-bottom: 10px; */
}

.producto_list .imgs .others .add_img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    /* margin-left: 10px; */
    margin-bottom: 10px;
    height: 50px;
    color: #fff;
    background: #2F80ED;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.3s;
    font-size: 1.5em;
    /* border: none; */
    /* margin: auto; */
}

.producto_list .imgs .others .add_img input[name="newImg"] {
    display: none;
}

.producto_list .imgs .others .add_img label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.producto_list .imgs .others .add_img:hover {
    border-radius: 50%;
    background: #6ea1e4;
}

.producto_list .info {
    min-width: 170px;
    width: 60%;
    background: #80b2eb;
    /* border-radius: 5px; */
    /* box-shadow: 10px 0px 10px #000; */
    transition: all ease 0.3s
}

.producto_list .info .field {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 170px;
    padding: 0 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.producto_list .info .field span {
    width: 100%;
}

.producto_list .info .field .value {
    font-size: 0.9em;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #80b2eb;
    color: #000;
}

.producto_list .info .field .value.active {
    background: #fff;
    height: 30px;
    padding: 0 5px;
}

.producto_list .info .field textarea.value {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 40px;
    min-height: 30px;
    max-height: 150px;
    color: #000;
    resize: none;
}

.producto_list .info .field select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.producto_list .info .field textarea.value.active {
    resize: both;
    padding: 5px;
}

.producto_list .info .field .value.name {
    font-size: 1.5em;
}

.producto_list .info .field .label {
    width: auto;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    /* font-style: italic; */
    background: #b2d8ee;
    cursor: default;
    margin-bottom: 5px;
}

.producto_list .info input[type="submit"] {
    display: none;
}

.producto_list .options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    background: #98b8e2;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    transition: all ease 0.3s
}

.producto_list .options .hidden {
    display: none;
}

.producto_list .options form.disponible input[type="submit"],
.producto_list .options form.borrar input[type="submit"] {
    display: none;
}

.producto_list .options form.disponible label,
.producto_list .options form.borrar label {
    cursor: pointer;
}

.producto_list .options .opt {
    width: 100%;
    text-align: center;
    /* height: 50px; */
}

.producto_list .options .opt span {
    width: 100%;
    font-size: 0.9em;
}

.producto_list .options .opt .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #4a94d8;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    font-size: 2em;
    color: #113054;
    cursor: pointer;
    transition: all ease 0.3s;
}

.producto_list .options .opt .icon:hover {
    border-radius: 50%;
    color: #fff;
    background: #113054;
    font-size: 1.5em;
}

.add_product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: #113054;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    opacity: 1;
    transition: all ease 0.2s;
    font-size: 6em;
    box-shadow: 3px 3px 15px #000;
}

.add_product:hover {
    border-radius: 50%;
    font-size: 5em;
    box-shadow: 3px 3px 40px #000;
}

.add_product .icon {
    color: #f5fcff;
}

.contenedor_productos .producto_list .imgs.noDisp {
    background: #919090;
    transition: all ease 0.3s
}

.producto_list .imgs.noDisp span.dateReg {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    border-radius: 5px;
    color: #fff;
    background: #727171;
    border: 2px solid #fff;
    cursor: default;
}

.producto_list .imgs.noDisp .others .other-img .icons {
    background: #686868;
}

.producto_list .imgs.noDisp .others .add_img {
    background: #686868;
}

.contenedor_productos .producto_list .info.noDisp {
    background: #bbb9b9;   
    transition: all ease 0.3s
}

.contenedor_productos .producto_list .info.noDisp .field .label {
    background: #dbdada;
}

.contenedor_productos .producto_list .info.noDisp .field input,
.contenedor_productos .producto_list .info.noDisp .field textarea {
    background: #bbb9b9;
}

.producto_list .info.noDisp .field .value.active {
    background: #fff;
    height: 30px;
    padding: 0 5px;
}

.producto_list .info.noDisp .field textarea.value {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 40px;
    min-height: 30px;
    max-height: 150px;
    color: #000;
    resize: none;
}

.producto_list .info.noDisp .field textarea.value.active {
    resize: both;
    padding: 5px;
}

.contenedor_productos .producto_list .options.noDisp {
    background: #e7e5e5;
    transition: all ease 0.3s
}

.contenedor_productos .producto_list .options.noDisp .icon {
    background: #b9b7b7;
    color: #6e6e6e;
}

.productsAdmin .newProduct {
    width: 100%;
}

.productsAdmin .newProduct .add_product.hidden {
    display: none;
    opacity: 0;
    transition: all ease 0.3s;
}

.productsAdmin .newProduct .newProductForm.hidden {
    display: none;
    opacity: 0;
    transition: all ease 0.3s;
}

.productsAdmin .newProduct .newProductForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    min-height: 100px;
    margin: auto;
    /* background: #000; */
    opacity: 1;
    transition: all ease 0.3s;
}

.productsAdmin .newProduct .newProductForm .data {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 20px;
    padding: 10px;
    min-height: 100px;
    background: #a7cbec;
    border-radius: 5px;
}

.productsAdmin .newProduct .newProductForm .data span.title {
    text-align: center;
    padding: 10px 5px;
    border-radius: 5px;
    background: #113054;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.productsAdmin .newProduct .newProductForm .data .field {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

.productsAdmin .newProduct .newProductForm .data .field label {
    width: 20%;
    min-width: 100px;
    background: #1686ee;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin-right: 20px;
    margin-bottom: 10px;
}

.productsAdmin .newProduct .newProductForm .data .field input,
.productsAdmin .newProduct .newProductForm .data .field select,
.productsAdmin .newProduct .newProductForm .data .field textarea {
    width: 70%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    flex-grow: 1;
    margin-bottom: 10px;
}

.productsAdmin .newProduct .newProductForm .data .field input:focus,
.productsAdmin .newProduct .newProductForm .data .field select:focus,
.productsAdmin .newProduct .newProductForm .data .field textarea:focus {
    border: 2px solid #1686ee;
}

.productsAdmin .newProduct .newProductForm .data .field textarea {
    height: 30px;
    min-height: 30px;
    resize: vertical;
    max-height: 300px;
}

.productsAdmin .newProduct .newProductForm .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #1686ee;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    width: 10%;
}

.productsAdmin .newProduct .newProductForm .options input[type="submit"],
.productsAdmin .newProduct .newProductForm .options input[type="reset"] {
    display: none;
}

.productsAdmin .newProduct .newProductForm .options .opt {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2em;
}

.productsAdmin .newProduct .newProductForm .options .opt label,
.productsAdmin .newProduct .newProductForm .options .opt .icon {
    /* background: #5f90c9; */
    /* padding: 10px; */
    cursor: pointer;
    transition: all ease 0.3s;
}

.productsAdmin .newProduct .newProductForm .options .opt.reset {
    margin: 40px 0;
}

.productsAdmin .newProduct .newProductForm .options .opt.save label:hover {
    color: #5EDB93;
    font-size: 1.5em;
}

.productsAdmin .newProduct .newProductForm .options .opt.reset label:hover {
    color: #ecf00e;
    font-size: 1.5em;
}

.productsAdmin .newProduct .newProductForm .options .opt .icon:hover {
    color: #db6969;
    font-size: 1.5em;
}

/***************************************** tooltip ********************************************/

.tooltip {
    position: relative;
    display: inline-block;
    border: none;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    min-width: 100px;
    background: #2F80ED;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 0%;
    margin-left: -60px;
    opacity: 0;
    font-size: 0.7em;
    transition: all ease 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: #2F80ED transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.contenedor_puntos .punto {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-height: 50px;
    background: #ccc;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    transition: all ease 0.3s;
}

.contenedor_puntos .punto:hover {
    box-shadow: 0px 0px 4px 0px #000;
}

.contenedor_puntos .punto .title {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 10px;
}

.contenedor_puntos .punto .title hr {
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

.contenedor_puntos .punto .title .nombre {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

.contenedor_puntos .punto .title .dpto {
    width: 100%;
    font-size: 0.9em;
    font-style: italic;
}

.contenedor_puntos .punto .body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
}

.contenedor_puntos .punto .body .info {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: calc(100% - 200px);
    padding-right: 20px;
}

.contenedor_puntos .punto .body .info .value {
    width: 100%;
    padding: 10px;
    background: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px #000;
}

.contenedor_puntos .punto .body .details {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 200px;
    border-radius: 5px;
    background: #a2b9f8;
}

.contenedor_puntos .punto .options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 30px; */
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    background: #dddddd;
}

.contenedor_puntos .punto .options .toggle {
    display: flex;
    align-items: center;
}

.contenedor_puntos .punto .options .toggle .status {
    margin-left: 10px;
    background: #ccc;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    line-height: 30px;
    font-size: 0.8em;
    font-weight: bold;
}

.contenedor_puntos .punto .options .editOptions {
    display: flex;
}

.contenedor_puntos .punto .options .toggle .btn,
.contenedor_puntos .punto .options .editOptions .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #ccc;
    cursor: pointer;
    transition: all ease 0.3s;
}

.contenedor_puntos .punto .options .toggle .btn:hover,
.contenedor_puntos .punto .options .editOptions .btn:hover {
    background: #aaa;
}

.contenedor_puntos .punto .options .editOptions .delete:hover {
    font-size: 1em;
    color: #fa2d2d;
}

.contenedor_puntos .punto .options .editOptions .btn {
    margin-left: 10px;
}

.contenedorNoPuntos {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 80px);
    /* background: #ccc; */
}

.contenedorNoPuntos .punto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50px;
}

.contenedorNoPuntos .punto .text,
.contenedorNoPuntos .punto .text.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #ccc;
    border-radius: 5px;
    transition: all ease 1s;
}

.contenedorNoPuntos .punto .text.active {
    background: #113561;
    color: #fff;
    font-weight: bold;
}

.contenedorNoPuntos .punto .btnAdd.noShow {
    display: none;
    height: 0;
    width: 0;
    transition: all ease 0.3s;
}

.contenedorNoPuntos .punto .btnAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 50px;
    background: #365C8A;
    border-radius: 5px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
    transition: all ease 0.3s;
}

.contenedorNoPuntos .punto .btnAdd:hover {
    background: #113561;
    font-size: 2em;
}

.contenedorNoPuntos .punto .btnAdd.cancel:hover {
    background: #9e1b1b;
    color: #f3c0b7;
}

.contenedorNoPuntos .punto .btnAdd.clear:hover {
    background: #888a0b;
    color: #ecf00e;
}

.contenedorNoPuntos .punto .btnAdd.save:hover {
    background: #066e31;
    color: #acecc7;
}

.contenedorNoPuntos .addPoint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    min-height: 100px;
    background: #ccc;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    transition: all ease 0.3s;
}

.contenedorNoPuntos form.addPoint .field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 40px;
    /* background: #fff; */
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #113054;
}

.contenedorNoPuntos form.addPoint .field:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.contenedorNoPuntos form.addPoint .field label {
    min-width: 200px;
}

.contenedorNoPuntos form.addPoint input[type="reset"],
.contenedorNoPuntos form.addPoint input[type="submit"] {
    display: none;
}

.contenedorNoPuntos form.addPoint .field input,
.contenedorNoPuntos form.addPoint .field select,
.contenedorNoPuntos form.addPoint .field textarea {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
}

.contenedorNoPuntos form.addPoint .field input:focus,
.contenedorNoPuntos form.addPoint .field select:focus,
.contenedorNoPuntos form.addPoint .field textarea:focus {
    border: 2px solid #1686ee;
}

.contenedorNoPuntos form.addPoint .field input[name="paisPunto"] {
    cursor: not-allowed;
}

.contenedorNoPuntos form.addPoint .field textarea {
    resize: vertical;
    min-height: 40px;
    max-height: 150px;
    overflow-y: hidden;
}

.contenedorNoPuntos form.addPoint .field .input {
    display: flex;
    width: 100%;
    height: 40px;
    /* background: #fff; */
}

.contenedorNoPuntos form.addPoint .field .input .siNo {
    display: flex;
    align-items: center;
    /* max-width: 200px; */
    /* background: #000; */
}

.contenedorNoPuntos form.addPoint .field .input .siNo label.tipoEntrega {
    min-width: auto;
    font-size: 0.9em;
    margin-right: 5px;
}

.contenedorNoPuntos form.addPoint .field .input .siNo input {
    margin-right: 20px;
}

.contenedorNoPuntos form.addPoint .field .input .costo {
    width: 100%;
    background: #fff;
}